.AdminApp {

    padding: 4% 2%;
    /* background-color: rgb(215, 255, 189); */
    background-color: transparent;

  }
  
  .App-logo {
    height: 40vmin;
  }
  td{
    text-align: center;
  }
  
 
  
  .App-link {
    color: #09d3ac;
  }
  
  .login{
  
    text-align: center;
   display: inline;
   
    left: 50%;
    top:50%
  }
  .postStyle{
    background-color: rgba(217, 232, 236, 0.163);
    /* background-image: linear-gradient(to right, rgba(96, 199, 194, 0.226), rgba(120, 213, 214, 0.599)); */
    padding : 10px;
    height: 100%;
    margin-bottom: 1%;
    border-radius: 2%;
    border: 1px solid rgb(151, 222, 241);
  }
  .updateButton{
    background-color : rgb(141, 235, 224) ;
    color: rgb(45, 61, 45);
    border:none;
    font-size: small;
    padding : 1px 5px 5px 5px;
    border-radius : 8%;
    cursor :pointer;
    float:right
  }
  .delButton{
    background-color : rgb(73, 20, 18) ;
    color: rgb(255, 223, 223);
    font-size: small;
    border:none;
    padding : 1px 5px 5px 5px;
    border-radius : 8%;
    cursor :pointer;
    float:right
  }
  #spinner {
    top: 30%;
    left: 50%;
    position: absolute;
    background: white;
  }
  #spinner1 {
  
    position: absolute;
    background: transparent;
  }